.nav{
        width: 100%;
        text-align: center;
    }


.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

ul {
    display: inline-block;
}

li>a, button>a{
      color:grey;
}

.projectThumbnail{

  padding:0px;
  margin:0px;
}

.row .col{
  padding:0px;
  margin:0px;
}

.dropbtn {
  background-color: transparent;
  border-color: none;
  outline:none;
  font-size:12px;
  border:0px;
  color:gray;

}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 250px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size:10px;
    text-align: left;
    color: grey;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
   color:black;
  }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
     outline: none;
    }

.publicationTitle{

  font-size:13px;
  text-decoration: bold;
  padding-top:0px;
  padding-bottom:0px;
  margin:0px;
  font-weight:bold;
}

.publicationDetails{

  font-size:12px;
  padding-top:0px;
  padding-bottom: 10px;
  margin:0px;
}

.publication{

  font-size:14px;
  text-decoration: underline;
  padding-top:0px;
  padding-bottom:10px;
  margin:0px;
  font-weight:bold;
}

.resume{padding: 0px;
        margin:0px;
        font-size:12px;}

.resumeTitle{padding-top:  10px;
        margin:0px;
        font-size:12px;
        font-weight: bold}

.resumeSection{padding-top:  10px;
        margin:0px;
        font-size:14px;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
     }

.resumeHor{padding-bottom: 8px;
         padding-top: 0px;
        margin:0px;
        font-size:12px;}

.projectSection{padding-top:  10px;
        margin:0px;
        font-size:14px;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
     }

.example{
  width:1250px;
}



.projectThumbnail{
  padding:5px;
  width:200px;
  height:200px;
  position:relative;
}

.outer{
  display:block;
  position:relative;
}

.inner {
  background: white;
  height: 70px;
  width: 100%;
  opacity: 0;
  top: 180px;
  left: 0;
  position: absolute;
  padding: 5px;
  transition: opacity .5s;

}
/* line 25, ../sass/style.scss */
.outer .inner a {
  color:gray;
  text-align: center;
  font-size:12px;
  vertical-align: middle;
}

.inner p{
  text-align: center;
  color:gray;
  text-align: center;
  font-size:12px;
  vertical-align: middle;   

}
/* line 34, ../sass/style.scss */
.outer:hover .inner {
  opacity: .9;
  transition: opacity .5s;
}


.projectImg{
  width:600px;
}

